body {
	background-color: black;
	font-family: sawasdee;
}

#keys {
	font-family: sawasdee;
	border-style: ridge;
	padding: 10px;
}

button {
	font-family: sawasdee;
	font-weight: bolder;
	background-color: black;
	color: white;
	padding: 20px;
}

.space {
	padding: 20px 200px;
}


