body {
	background-color: limegreen;
	font-family: manjari;
}

/* header tags */
header {
	background-color: #73F19F;
	margin: 5px;
}

header h1 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

header nav {
	padding-bottom: 5px;
	border-style: outset;
	background-color: lightgray;
	padding: 10px 2px;
	text-align: center;
}

header nav a {
	color: blue;
	font-weight: bold;
}

header nav a:hover {
	color: red;
}

header nav a:visited {
	color: brown;
}

header nav a:active {
	color: chocolate;
}

/* ids */
#home {
	padding-left: 30px;
	padding-right: 15px;
}

#geo {
	padding-left: 15px;
	padding-right: 30px;
}

#field {
	background-color: #73F19F;
	padding-bottom: 12.5em;
}

#banner {
	width: 100%;
}

#slider {
	overflow: hidden;
}

#slides {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 10s slidy infinite;
}

#slides img {
	width: 18%;
	float: left;
	margin: 0.25% 1%;
}
/* Others */
fieldset {
	background-color: #73F19F;
}

input {
	padding: 1em;
	background-color: lime;
  font-family: manjari;
}

footer {
	background-color: #73F19F;
	padding: 2px;
	margin: 5px
}

img {
	animation-name: slider;
	animation-delay: 1s;
	animation-duration: infinite;
	animation-direction: alternate;
}	

/* Animations */
@keyframes slidy {
	0% { left: 0%; }
	45% { left: 0%; }
	50% { left: -100%; }
	95% { left: -100%; }
	100% { right: -100%; }
}
